[user]
	name = Alexandr Kurilin
	email = alex@kurilin.net
[core]
	editor = vim
[color]
	ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  supermerge = "!f() { git checkout master && git pull && git checkout $1 && git rebase master && git checkout master && git merge $1 --ff-only && git push origin :$1 && git branch -d $1 && git push origin master; }; f"
[diff]
	submodule = log
